*{
	font:							"JF Flat 11";
	foreground:						#61afef;
	background:						#1e222a;
	foreground-alt:					#f8f8f2;
	background-alt:					#1c1d2955;
	active-background:				#61afef;
	urgent-background:				#ff2222aa;
    
	foreground-selected:			#1c1d29;
	
	selected-background:			@active-background;
	selected-urgent-background:		@urgent-background;
	selected-active-background:		@active-background;
	separatorcolor:					@active-background;
	bordercolor:					@active-background;
}