*{
	font:							"JF Flat 11";
	foreground:						#012549;
	background:						#011426;
	foreground-alt:					#f1dc6e;
	background-alt:					#012549;
	active-background:				#f1dc6e;
	urgent-background:				#ff2222aa;
    
	foreground-selected:			#1c1d29;
	
	selected-background:			@active-background;
	selected-urgent-background:		@urgent-background;
	selected-active-background:		@active-background;
	separatorcolor:					@active-background;
	bordercolor:					@active-background;
}