*{
	font:							"JF Flat 11";
	foreground:						#f1fa8c;
	background:						#1e1f29;
	foreground-alt:					#f8f8f255;
	background-alt:					#272d3755;
	active-background:				#282a36;
	urgent-background:				#ff2222aa;
    
	selected-background:			@active-background;
	selected-urgent-background:		@urgent-background;
	selected-active-background:		@active-background;
	separatorcolor:					@active-background;
	bordercolor:					@active-background;
}